<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="dashboard.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.evaluate-btn').click(function(){
        $('.evaluate-content').toggle();
        $('.summary-content').hide();
      });
      $('.summary-btn').click(function(){
        $('.summary-content').toggle();
        $('.evaluate-content').hide();
      });
    });
  </script>
</head>
<body>
  <h1>Welcome to the Dashboard!</h1>

  <ul class="navigation">
    <li><button class="evaluate-btn">Evaluate</button></li>
    <li><button class="summary-btn">Summaries</button></li>
    <li><a href="#">Logout</a></li>
  </ul>

  <div class="content evaluate-content" style="display: none">
    <h2>Evaluate</h2>
    <p>This is the Evaluate component. Here you can evaluate two links of a shopee product.</p>
    <form method="post" action="/evaluate">
      <input type="text" name="link1" placeholder="Enter link 1">
      <br>
      <input type="text" name="link2" placeholder="Enter link 2">
      <br>
      <button type="submit">Evaluate</button>
    </form>
  </div>

  <div class="content summary-content" style="display: none">
    <h2>Summaries</h2>
    <p>This is the Summaries component. Here you can see summaries of things and stuff.</p>
  </div>

</body>
</html>
