<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <link rel="stylesheet" type="text/css" href="/register.css">
</head>
<body>
  <h1>Online Product Evaluator</h1>

  <ul class="navigation">
    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  </body>
  </html>

  <h1>Sign up</h1>
  <form method="post" action="/register">
    <div class="input-container">
      <label for="username"></label>
      <input type="text" name="username" id="username" placeholder="Username" required>
    </div>
    <div class="input-container">
      <label for="password"></label>
      <input type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <div class="button-container">
      <button type="Submit">Sign up</button>
    </div>
  </form>
</body>
</html>



