body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-right: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; /* add this line */
    transition: background-color 0.3s; /* add this line */
}

   button[type="submit"]:hover {
    background-color: #111;
}
  
  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  
  .navigation li {
    display: inline-block;
  }
  
  .navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navigation li a:hover {
    background-color: #111;
  }
  